@media (max-width: 1000px) {
    .caixa-campos {
        width: 70%;
        float: left;
    }
    
    .caixa-send {
        width: 30%;
        float: left;
        height: 10px;
    }

    .icone { 
        width: 150px;
        height: 150px;
        display:flex;
    }
    
    .icone img{
        width: 110px;
        height: 110px;
        margin: auto;
    }

    .texto {
        width: 150px;
        display:flex;
    }

    .jumbotron-with-background {
        background-size: 215px;
        padding-right: 2px;
    }

    #texto-chamada {
        font-size: 1.4em;
    }
}

@media (max-width: 800px) {
    .sumir-medio {
        display: none;
    }

    .aparecer-medio {
        display: inline;
    }

    #bnt-enviar {    
        width: 50%;
        margin-right: 25%;
        margin-left: 25%;
    }

    #caixa-form {
        width: 100%;
    }

    .caixa-campos {
        padding-left: 3%;
        width: 85%;
        float: left;
    }
    
    .caixa-send {
        width: 15%;
        float: left;
        height: 10px;
    }

    #formulario {
        width: 100%;
    }

}

@media (max-width: 768px) {
    #caixa-check {
        height: 150px;   
    }

    #caixa-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }

    #caixa-esconde {
        display: inline;
    }

    #caixa-esconde {
        margin: 0 3%;
    }

    #caixa-complementar {
        display: none;
    }

    .corpo-conteudo {
        padding: 0.5% 0% 5% 0%!important;
    }

    #parte4 {
        margin-top: 4%;
        padding: 5% 0% 3% 0%;
    }

    footer {
        background-color: #FEEFD8;
        padding: 10% 5% 5% 5%;
        /* margin: 0 -15px; */
    }

    #texto-chamada {
        font-size: 1.5em;
        width: 50%;
        line-height: 1.2;
    }

    .jumbotron-with-background {
        background-image: url('../img/ilustra.svg');
        background-size: 200px;
        padding-right: 5%;
        
        height: 300px;
        border-radius: 60px;
    }

    .jumbotron a {
        margin-left: 0;
        margin-top:2%;
    }
    
    .icone {
        width: 300px;
        height: 300px;
        display:flex;
        margin: auto;
    }
    
    .icone img{
        width: 200px;
        height: 200px;
        margin: auto;
    }

    .texto {
        width: 100%;
        display:flex;
        font-weight: bold;
        font-size: 1.8em;
        text-align: center;
    }

}

@media (max-width: 600px) {
    .jumbotron-with-background {
        margin: 0 10%;
    }

    .caixa-campos {
        padding-left: 3%;
        width: 85%;
        float: left;
    }
    
    .caixa-send {
        width: 15%;
        float: left;
        height: 10px;
    }
    
    .row {
        margin-right: 0px;
        margin-left: 0px;
    }
    
}

@media (max-width: 400px) {
    .sumir-pequeno {
        display: none;
    }

    .sumir-grande {
        display: inline;
    }

    .jumbotron-with-background {
        background-position: 50% 50%;
    }   

    .caixa-campos {
        padding-left: 3%;
        width: 80%;
        float: left;
    }
    
    .caixa-send {
        width: 20%;
        float: left;
        height: 10px;
    }

    .icone {
        width: 200px;
        height: 200px;
        display:flex;
        margin: auto;
    }
    
    .icone img{
        width: 120px;
        height: 120px;
        margin: auto;
    }


    #caixa-check{        
        display: flex;
        margin-bottom: 25%;
    }
}