@media (max-width: 768px) {
    #caixa-check {
        height: 150px;   
    }

    #caixa-texto {
        margin: 0 3% 2% 3%; 
    }

    #caixa-form {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3%;
    }

    #seta-baixo, #caixa-esconde {
        display: inline;
    }

    #caixa-esconde {
        margin: 0 3%;
    }

    #seta-lado, #caixa-complementar {
        display: none;
    }

    .corpo-conteudo {
        padding: 0.5% 0% 5% 0%!important;
    }
}