#navbarNav a{
    font: Regular 30px/34px Arial;
    letter-spacing: 0.45px;
    color: #000000;
    opacity: 1;
}

.jumbotron-with-background {
    background-image: url('../img/ilustra.svg');
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-color: #818181;
    background-size: 300px;
    padding-right: 10%;
    
    height: 350px;
    border-radius: 60px;
    
}

.jumbotron p {
    text-align: left;
    font: Bold 50px/58px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    top: 336px;
    left: 400px;
    width: 650px;
    height: 180px;
    margin-left: 50px;
}

.jumbotron a {
    text-align: left;
    font: Regular 25px/29px Arial;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 150px;
    margin-left: 50px;
}

.main-title {
    text-align: left;
    font: Bold 30px/69px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-left: 80px;
}

.item1 {
    text-align: left;
    font: Regular 35px/40px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.75;
    margin-left: 80px;
}

.rounded-circle {
    width: 310px;
    height: 311px;
    
}

#caixa-texto {
    background-repeat: no-repeat;
    background-color: #818181;
    height: 300px;
    border-radius: 50px;
    float: left;
}

#caixa-check {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    justify-content: space-between;
    float: left;
    height: 300px;
    padding: 3% 3%;
}

#caixa-complementar, #caixa-esconde {
    margin-top: 4%;
    padding: 0 3% 0 3%;
}

.texto-complementar {
    text-align: left;
    font: Regular 35px/40px Arial;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

#parte3 {
    margin-top: 8%;
    display: flex;
    justify-content: center;
}


#parte4 {
    margin-top: 8%;
    display: flex;
    justify-content: center;
}

.titulo-0 {
    text-align: left;
    font: Regular 30px/69px Arial;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.titulo-1 {
    text-align: left;
    font: Regular 30px/69px Arial;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.titulo-2 {
    text-align: left;
    font: Regular 38px/43px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#bnt-enviar {
    float: right;
}

#caixa-form {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
}

#formulario {
    width: 80%;
}

#seta-baixo, #caixa-esconde {
    display: none;
}

footer {
    background-color: #FEEFD8;
    padding: 10% 0 0 0;
    margin: 0 -15px;
}

.corpo-conteudo {
    padding: 0.5% 7%!important;
}

.navbar {
    margin-bottom: 3%;
}

#logo {
    width: 7em;
}

#parte2, #parte3 {
    padding: 0 10%;
}

#parte4 {
    background-color: #FEEFD8;
    padding: 3% 0;
}

.lista-check {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.texto-check {
    padding-top: 4%;
}

.organ-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A5A19B;
}