#navbarNav a{
    font: Regular 30px/34px Arial;
    letter-spacing: 0.45px;
    color: #000000;
    opacity: 1;
}

.saiba_button a {
    background-color:#FCC7C9;
    
}

.jumbotron-with-background {
    background-image: url('../img/ilustra.svg');
    background-position: 85% 50%;
    background-repeat: no-repeat;
    background-color: #463FA7;
    background-size: 300px;
    padding-right: 10%;
    height: 350px;
    border-radius: 60px;
    width: 100%;
}

.jumbotron p {
    text-align: left;
    font: Bold 50px/58px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    top: 336px;
    left: 400px;
    width: 650px;
    height: 180px;
    margin-left: 50px;
}

.jumbotron a {
    text-align: left;
    font: Regular 25px/29px Arial;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 150px;
    margin-left: 50px;
}



.item1 {
    text-align: left;
    font: Regular 35px/40px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.75;
    margin-left: 80px;
}


.text_item1 {
    text-align: left;
    font: normal normal normal 20px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.75;
    
}


.circle-box {
    background-color:#9DEAA2;
    border-radius: 50%;
}


/* .icone {
    width: 80px;
    height: 80px;  
} */


#caixa-texto {
    background-repeat: no-repeat;
    background-color: #818181;
    height: 300px;
    border-radius: 50px;
    float: left;
}

#caixa-check {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: left;
    justify-content: space-between;
    float: left;
    height: 300px;
    padding: 3% 3%;
}

#caixa-complementar, #caixa-esconde {
    margin-top: 4%;
    padding: 0 3% 0 3%;
}

.texto-complementar {
    text-align: left;
    font: Regular 35px/40px Arial;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}




#parte4 {
    margin-top: 2%;
    padding: 5% 12% 3% 12%;
    display: flex;
    justify-content: center;
    background-color: #FEEFD8;
    margin-right: 0;
    margin-left: 0;
}

.titulo-0 {
    text-align: left;
    font: Regular 30px/69px Arial;
    font-weight: bold;
    font-size: 2.2em;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    line-height: 1.2;
}

.titulo-1 {
    text-align: left;
    font: Regular 30px/69px Arial;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.titulo-2 {
    text-align: left;
    font: Regular 38px/43px Arial;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

#bnt-enviar {
    float: right;
}

#caixa-form {
    display: flex;
    width: 70%;
    float: left;
    align-items: flex-end;
}

#formulario {
    width: 80%;
    margin-bottom: 0;
}

#seta-baixo, #caixa-esconde {
    display: none;
}

footer {
    background-color: #FEEFD8;
    padding: 10% 15% 5% 15%;
    /* margin: 0 -15px; */
}

.row-footer {
    margin-right: 0;
    margin-left: 0;
}

.corpo-conteudo {
    padding: 0.5% 7%!important;
    width: 100%;
}

.navbar {
    margin-bottom: 3%;
}

#logo {
    width: 7em;
}

#logo-footer {
    width: 10em;
}

#parte2, #parte3 {
    padding: 0 10%;
}

.lista-check {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.texto-check {
    padding-top: 4%;
}

.organ-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A5A19B;
}

#texto-chamada {
    font-size: 1.8em;
    width: 70%;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 8%;
}

#texto-chamada-pequeno {
    font-size: 1.8em;
    width: 100%;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 8%;
    color: black;
    padding: 5%;
}

.jumbotron p{
    margin-left: 0;
    height: 0;
}

.jumbotron a{
    margin-top: 0;
}

/* Modal Obrigado */

.webicons {
    display: flex;
}

.text_thakyou {
    margin-top: 1.5em;
}

.webicons .clique a {
    text-decoration: none;
    color: black
}

#img-botao {
    border: 1px black solid;
    border-radius: 50%;
}

/*
.form-group {
    width: 80%;
}

.bnt-enviar{
    width: 20%;
}
*/

.caixa-campos {
    width: 80%;
    float: left;
    padding-left: 5%;
}

.caixa-send {
    width: 20%;
    float: left;
    height: 10px;
}

#img-botao {
    width: 45px;
    margin-top: 45px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

.sumir-pequeno {
    display: inline;
}

.sumir-grande {
    display: none;
}

.aparecer-medio {
    display: none;
    width: 100%;
    padding: 0 4% 0 8%;
}